
{% macro displayPitches(pitches)%} 
<div class="container-fluid">
    <div class="row">
        {% if pitches %}
        {%for pitch in pitches%}
        <div class="col-md-4">
            <div class="thumbnail" id="carded">
                <h5 class="card-header">{{pitch.title}}</h5>
                <div class="card-body">
                    <p class="text-center"> Category: {{pitch.category}}</p>
                    <footer class="blockquote-footer text-center"> Posted by: {{pitch.name}}</footer>
                    <div>
                        <span class="foot">Content: {{pitch.content}}</span>
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="card w-90 mb-3">
            <div class="card-body">

                <p class="card-title">Category Has 0 posts</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}