{% extends 'bootstrap/base.html'%}
{% macro displayPitches(pitches)%}
<div class="container-fluid">
    <div class="row">
        {% if pitches %}
        {%for pitch in pitches%}
        <div class="col-md-4" id="change" >
            <div class="thumbnail" id="carded" style="background-color: burlywood;">
                <h5 class="card-header">{{pitch.title}}</h5>
                <div class="card-body">
                    <div class="row">
                        <p class="text-center"> Category: {{pitch.category}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <p class="text-center"> Author: {{pitch.uname}}</p>
                    </div>
                    <hr>
                    <footer class="blockquote-footer text-center"> Content: {{pitch.context}} </footer>
                    <hr>
                    <div>
                        <span class="foot">Posted on: {{pitch.posted}}</span>

                    <hr>

                      
                            <div class="">
                                <img src="/app/static/icons/like.png" alt="" style="width: 0.5cm; height: 0.5cm;">
                            </div>
                            <div class="" style="margin-left: 80%; margin-top: -6%;">
                                <img src="/app/static/icons/thumb-down.png" alt="" style="width: 0.5cm; height: 0.5cm;">
                            </div>
                       
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="card w-90 mb-3">
            <div class="card-body">

                <p class="card-title">Category Has 0 posts</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

<script>
    const colors = ["red", "blue"];

// pick random color from colors
const randomColor = colors[Math.floor(Math.random() * colors.length)];

// set background color to random color

</script>
