<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/navbar.css">
    <title>Document</title>
</head>
<body>
    <div class="class" style="overflow: hidden; padding: 1cm;">
        <div class="row">
            <div class="col">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/registration">Register</a>
                    <a href="auth/login.html">Sign in</a>
                    <a href="/user/uname/update">Profile</a>
                    <a href="/pitches">Pitches</a>
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            <span onclick="openNav()"><img src="/app/static/icons/menu-button-of-three-horizontal-lines.png"
                                        style=" height: 0.7cm;" alt=""></span>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col">
                <div class="main">
                    <div class="check">
                        <div class="row" style="font-size: 0.5cm;">
                            {% if current_user.is_authenticated %}
                            <div class="col">
                               <img src="/app/static/icons/user1.png" alt="" style="width: 1cm; height:1cm;"> <a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a>
                            </div>
                            <div class="col">
                                <img src="/app/static/icons/user2.png" alt="" style="width: 1cm; height:1cm;"><a href="{{url_for('auth.login')}}">Sign in</a>
                            </div>
                            <div class="col">
                                <img src="/app/static/icons/user.png" alt="" style="width: 1cm; height:1cm;"><a href="{{url_for('auth.logout')}}">Sign out</a>
                            </div>

                            {%else%}
                            <div class="col">
                                <img src="/app/static/icons/user2.png" alt="" style="width: 1cm; height:1cm;"><a href="{{url_for('auth.login')}}">Sign in</a>
                            </div>
                            <div class="col">
                                <img src="/app/static/icons/user.png" alt="" style="width: 1cm; height:1cm;"><a href="{{url_for('auth.logout')}}">Sign out</a>
                            </div>
                            
                            

                           
                            {%endif%}                            
                        </div>
                    </div>
        
                </div>

            </div>
        </div>
        <hr>
       
    </div>

    <script src="/app/static/navbar.js"></script>
</body>
</html>